# no .log files
*.log

# but do track error.log, even through you'are ignoring .log files above
!error.log

# only ignore the TODO dile in the current dirrectory, not subdir/TODO
/TODO

# ignore all files in the build/ directory
build/

# ingnore doc/contes.txt but not doc/server/arch.txt
doc/*.txt

# ignore all .pdf files in the doc/ dirrectory and subdirectories
doc/**/*.pdf

**/*.png

img